.line-primary {
  background-color: #3054d6;
  height: 4px;
  width: 60px;
}
.line-secondary {
  background-color: #3054d6;
  height: 3px;
  width: 60px;
}
.line-tertiary {
  border: 1px solid #E7EBEE;
  width: 100%;
}
.line{
  display: block;
}
