$white: #fff;
$blue-1: #f6f9fb80;
$blue-2: #3054d60f;
$blue-3: #edf0f7;
$blue-4: #2355fc;
$blue-5: #3054d6;

$gray-1: #e7ebee;
$gray-2: #0A22391F;
$gray-3: #8492a6;
$gray-4: #868687;
$gray-9: #0a2239;
$gray-10: #0d2d11;
